body{
	background-color: white;
	
}
#container1{	

	width:100%;
	height: auto;
	

}


#menu_items{
	font-size: 13px;
	font-weight: bold;
	padding-bottom: 3px;
	padding-top:3px;
	padding-left:20px;
	
}

#menu_items:hover {
		padding-bottom:3px;
		padding-top:3px;
		background-color: #D8DFEA;

}

#left{
	float:left;
	width:20%;
	height: 100%;
	border: 1px solid #cccccc;
	border-left-color: transparent;
	border-right-color: transparent;
	border-bottom-color: transparent;
}

#title{
	padding-top:20px;
	padding-left:20px;
	text-align:left;
	height:70px;
	border: 1px solid #cccccc;
	border-right-color: transparent;
	border-top-color: transparent;
	border-left-color: transparent;
}
#title h5{
	
	font-size: 16px;
	font-weight: bold;
	padding-left: 40px;
}

#setting_menu{
	
overflow : auto;
height:393px;
border:1px solid transparent;
padding-top:25px;


}

#setting_menu p{
	color:black;
	padding-left:40px;	
}



#middle{
	float:left;
	width:80%;
	height: auto;
	border: 1px solid  #cccccc;
	padding-left:20px;
	
	
}

.table{
	border-bottom: 1px solid  #cccccc;
	
}

.table-hover:hover{
	background-color:  #F0F0F0;
}

.boldText{
	font-weight: bold;
	
}

#newMsgHeading{
	padding-top:15px;
	padding-left:20px;
	height:70px;
	width:100%;
	border: 1px solid #cccccc;
	border-left-color: transparent;
	border-right-color: transparent;
	border-bottom-color: transparent;
}


